<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSUIPresentationMode</key>
	<integer>0</integer>
	<key>CFBundleDisplayName</key>
	<string>Recorder</string>
	<key>CFBundleName</key>
	<string>Recorder</string>
	<key>CFBundleExecutable</key>
	<string>Recorder</string>
	<key>CFBundleIdentifier</key>
	<string>com.rponikiewski.Recorder</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone i nneeed</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth i need</string>
</dict>
</plist>
